release_version=20151015190033
isShowUnlogin=false
hideApp=2013122700002486
channel_id=5215
package_id=wallet-android-channel-release-5215-9.2.0.101408-20151017212634065
isTaobaoNickname =thirdparty
isSandbox=false
release_type=channel
fixDownloadUrl=true
isShowUserTip=false
isFirstDeploy=true
isTelecom=false
hasFeedback=false
